*.pyc
*.swp
*.swo
*.ipynb_checkpoints
Untitled*.ipynb
*.cache*

*.DS_Store

*/build/*
docs/_build
scythe/schemas/doc/
*/dist/*
*.egg*
src/*
dist/
.tox

coverage_html/
coverage.xml
*.coverage*
*.pytest_cache*
.vscode
.venv
.idea
test_files/
*.xpr
